/* Full Name:Jiao Wenbo, Admin no. :261393E */

#logo1 {width: 600px; height: 348.75px; display: block; margin: 0 auto; top: 50%; left: 50%; transform: translate(0%, -23%); }

html {  overflow-x: hidden;overflow-y: hidden;user-select: none; }
body { margin: 0; font-family: 'Fredoka One', cursive; background-color: #ece5d5; }
 h1 { text-align: center; color: #eea8a8;}

        
 nav { background-color: #f7d9d9; display: flex; justify-content: space-between; align-items: center; padding: 10px 20px;height: 60px; font-size: 1.2em;
   position:fixed; top:0; left:0; width:100%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); z-index: 1000; }
   /* z index is used to control the stacking order of elements */
  
 nav ul { list-style-type: none; margin: 0; padding: 0;}
 nav li{ display: inline; margin-right: 20px; font-size:larger}
 nav a { text-decoration: none; color: #cc7f7f; font-weight: bold;}
nav a:hover { color: #eea8a8; font-size: 1.1em; text-decoration: underline; transition: transform 0.3s ease;background-color: #ffcfcf; border-radius: 10px; padding: 5px 10px;   }

 
  
  
#car{width:1000px; height:500px; display: block; margin: 0 auto; transform:translate(0%, -120%);transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; }

#car:hover { transform: scale(1) translate(0%, -90%);

}

#car:active {animation:spin 0.7s linear infinite;}

@keyframes spin {
  0% { transform: rotate(0deg) translate(0%, -0%); margin-top: -38%; }
  100% { transform: rotate(360deg) translate(0%, -0%);margin-top: -38%; }
}



#cat {color:#f7d9d9}